@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@100;200;300;400;500&family=Roboto:ital,wght@0,400;1,900&display=swap');


:root {
    --titulo: 3.5rem;
    --mayuscula: uppercase;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

*::selection {
    background: #9932CC;
    color: #fff;
}

html {
    font-size: 62.4%;
    scroll-behavior: smooth;
}

.anuncio {
    padding: .5rem 0;
    background: rgb(153, 50, 204);
    background: linear-gradient(90deg, rgba(153, 50, 204, 1) 48%, rgba(255, 255, 255, 1) 100%);
    color: #fff;
    font-size: 1.5rem;
    z-index: 1000000;
}

.conte_anuncio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.anuncio_redes .icono_anun {
    font-size: 2.8rem;
    margin: 0 .3rem;
    color: #9932CC;
    transition: all .4s ease;
}

.anuncio_redes .icono_anun:hover {
    color: #6e2394;
}

.cabeza {
    box-shadow: rgba(153, 50, 204, .1) 0px 4px 6px -1px, rgba(153, 50, 204, .2) 0px 2px 4px -1px;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2000000;
}

.header {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: 3.5rem;
    font-weight: 600;
    color: #000;
    position: relative;
    padding-left: .8rem;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0c4qB77EMt4yNGWKDnbStmRdQaRmNmYRgGq0G5msQSF70vZ6yBCcmVdWdXVdDPmhgb_s&usqp=CAU);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

.logo .span {
    color: #9932CC;
    font-family: 'Cedarville Cursive', cursive;
    font-weight: bold;
}

.logo::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 5px;
    height: 40%;
    background: #9932CC;
    transition: all .5s ease;
    border-radius: 50px;
}

.logo:hover::after {
    height: 80%;
}

.navegacion {
    display: flex;
    align-items: center;
}

.iconos {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.iconos .fa-user,
.fa-heart {
    margin: 0 .5rem;
    color: #868995;
    cursor: pointer;
    transition: all .5s ease;
}

.iconos .fa-user {
    font-size: 1.7rem;
}

.iconos .fa-heart {
    font-size: 1.9rem;
}

.iconos .fa-user:hover {
    color: #9932CC;
}

.iconos .fa-heart:hover {
    color: #9932CC;
}

.iconos .carrito {
    display: flex;
    align-items: center;
    color: #868995;
    margin-left: .5rem;
    position: relative;
    width: max-content;
    cursor: pointer;
}

.iconos .carrito i {
    transition: all .5s ease;
    font-size: 1.7rem;
}

.iconos .carrito .carrito_p {
    background: darkorchid;
    color: #fff;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-10%, -45%);
    transition: all .5s ease;
    position: relative;
    font-size: 1.4rem;
}

.iconos .carrito .carrito_p::after {
    content: '';
    position: absolute;
    inset: 0;
    transition: all .5s ease;
}

.iconos .carrito:hover .carrito_p {
    transform: translate(-10%, -65%);
}

.iconos .carrito:hover {
    color: #9932CC;
}

.ul {
    list-style: none;
}

.ul .li {
    display: inline-block;
    margin: 0 .6rem;
}

.ul .li .item {
    color: #000;
    font-weight: 500;
    transition: all .3s ease;
    padding-bottom: .3rem;
    position: relative;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 1px;
}

.ul .li .item::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background: #9932CC;
    border-radius: 10px;
    transition: all .5s ease;
}
.ul .li .item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #9932CC;
    border-radius: 10px;
    transition: all .5s ease;
}
.ul .li:hover .item {
    color: #9932CC;
}
.ul .li:hover .item::after {
    width: 50%;
    transform: translate(-100%);
}
.ul .li:hover .item::before {
    width: 50%;
    transform: translate(100%);
}

.respo {
    background: #9932CC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

.respo i {
    font-size: 2.5rem;
    color: #fff;
    padding: 4px 7px;
}

.respo .ocultar {
    display: none;
}







.inicio {
    max-width: 1800px;
    margin: auto
}
.contenedor {
    position: relative;
    width: 100%;
    height: 90vh;
    margin: auto;
    overflow: hidden;
}

.slide {
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slide .text {
    width: 50%;
}

.slide .text .h1 {
    font-size: 5rem;
    font-weight: bold;
}

.slide .text .p {
    font-size: 1.7rem;
    margin: 15px 0;
}

.slide .text .btn {
    display: block;
    background: rgb(153, 50, 204);
    background: linear-gradient(90deg, rgba(153, 50, 204, 1) 48%, rgba(255, 255, 255, 1) 100%);
    width: max-content;
    padding: 7px 35px;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 10px;
    transition: all .5s ease;
}

.slide .text .btn:hover {
    transform: scale(1.05);
}

.slide img {
    width: 35vw;
}

.s2,
.s3 {
    display: none;
}

.slide:nth-child(2) .text {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.boton {
    position: absolute;
    font-size: 2.5rem;
    top: 50%;
    background-color: #9932CC;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.8);
    transition: all .5s ease;
    width: 45px;
    height: 45px;
    opacity: 0;
}

.boton:hover {
    transform: scale(1);
    color: #fff;
}

.right {
    right: 0;
}

.left {
    left: 0;
}

.contenedor:hover .boton {
    opacity: 1;
}

.paginacion {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translate(50%);
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.paginacion li {
    list-style: none;
    width: 20px;
    height: 10px;
    border: 2px solid #6e2394;
    display: inline-block;
    cursor: pointer;
    margin: 0 5px;
    transition: all .5s ease;
    border-radius: 5px;
}

.paginacion li:hover {
    background-color: #6e2394;
}








.categorias {
    padding: 100px 0;
    padding-bottom: 50px;
    max-width: 1800px;
    margin: auto;
}

.contenedor_cate {
    width: 95%;
    margin: auto;
}

.titulo_cate {
    font-size: var(--titulo);
    text-transform: var(--mayuscula);
    font-weight: bold;
    position: relative;
    padding-bottom: 1px;
    width: max-content;
    margin-bottom: 40px;
}

.titulo_cate::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40%;
    height: 4px;
    background: #000;
    transition: all .5s ease;
}

.titulo_cate:hover::after {
    width: 80%;
}

.contenedor_cajas {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px;
}
.contenedor_cajas .caja {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .9s ease;
}
.contenedor_cajas .caja .capa {
    background: rgba(153, 50, 204, .5);
    width: 50%;
    height: 20%;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all .6s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor_cajas .caja:nth-child(1){
    background: url(../img/Pro.jpg);
    background-position: center;
    background-size: cover;
}
.contenedor_cajas .caja:nth-child(2){
    background: url(../img/Pro1.jpg);
    background-position: center;
    background-size: cover;
}
.contenedor_cajas .caja:nth-child(3){
    background: url(../img/Pro2.jpg);
    background-position: center;
    background-size: cover;
}
.contenedor_cajas .caja:nth-child(4){
    background: url(../img/Pro.jpg);
    background-position: center;
    background-size: cover;
}

.contenedor_cajas .caja:hover .capa{
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
}

.contenedor_cajas .caja .capa .texto_cate .titulo_caja {
    font-size: 2rem;
    transition: all .2s ease;
    color: #fff;
}
.contenedor_cajas .caja .capa:hover .texto_cate .titulo_caja {
    font-size: 3rem;
}
.contenedor_cajas .caja .capa .texto_cate .titulo_caja i {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.contenedor_cajas .caja .capa:hover .texto_cate .titulo_caja i{
    font-size: 2.5rem;
}



.productos {
    max-width: 1800px;
    margin: auto;
    padding: 50px 0;
}
.contenedor_pro {
    overflow: hidden;
    width: 95%;
    margin: auto;
}
.titulo_pro {
    font-size: var(--titulo);
    text-transform: var(--mayuscula);
    font-weight: bold;
    margin-bottom: 2.5rem;
    letter-spacing: -1px;
}
.card_pro {
    background: #bea1cc;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    padding-right: .7rem;
}
.card_pro .cont_img {
    width: 50%;
    height: 250px;
    display: flex;
    justify-content: center;
    background: #f3e5fa;
    position: relative;
    padding: .7rem 0;
    border: 1px solid #bea1cc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card_pro .cont_img img {
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
}
.card_pro .cont_img p {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    background: #9932CC;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 1.1rem;
}
.card_pro:hover img{
    transform: scale(1.05);
}
.card_pro .detalles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    margin-left: 1rem;
}
.card_pro .detalles .titulo {
    font-size: 2rem;
}
.card_pro .detalles .descrip_proo {
    margin: .7rem 0;
}
.card_pro .detalles .descrip_proo p {
    font-size: 1.2rem;
}
.card_pro .detalles .precio {
    margin-bottom: .7rem;
    display: flex;
    align-items: center;
}
.card_pro .detalles .precio p{
    font-size: 1.2rem;
}
.card_pro .detalles .precio p:nth-child(1) {
    margin-right: .4rem;
}
.card_pro .detalles .precio p span {
    font-size: 1.5rem;
    margin-left: .2rem;
}
.card_pro .detalles .precio .descc {
    font-size: 1.2rem;
}
.card_pro .detalles .precio .descc {
    font-size: 1.3rem;
    text-decoration: line-through;
    margin-left: .2rem;
    color: gray;
}
.card_pro .detalles .btnCom {
    margin: .8rem 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}
.card_pro .detalles .btnCom a {
    font-size: 1.3rem;
    background: #fff;
    color: #000;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: all .5s ease;
    border: 1px solid #9932CC;
    margin: .7rem 0;
}
.card_pro .detalles .btnCom a:nth-child(1){
    margin-right: .5rem;
}
.card_pro .detalles .btnCom a:hover {
    background: #9932CC;
    color: #fff;
}
.swiper-navButton-pro {
    color: #9932CC !important;
    width: 40px !important;
    height: 40px !important;
}
.swiper-navButton-pro::before,.swiper-navButton-pro::after{
    font-size: 2rem !important;
}
.swiper-pagination-bullet {
    background: #000 !important;
    width: 1rem !important;
    height: 1rem !important;
}













.marquee {
    max-width: 1800px;
    margin: auto;
    background: rgb(153, 50, 204);
    background: linear-gradient(38deg, rgb(0, 0, 0) 50%, rgba(153, 50, 204, 1) 48%, rgba(153, 50, 204, 1) 100%);
    margin-bottom: 2rem;
}
.marquee .contenedor_mar {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
}
.marquee .contenedor_mar .titulo_des {
    font-size: 3rem;
    color: #fff;
    text-align: right;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

marquee {
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: #fff;
    z-index: 100000;
    font-size: 1.7rem;
    margin: 0 1rem;
}
marquee  p{
    display: flex;
    align-items: center;
}



.descuentos {
    max-width: 1800px;
    margin: auto;
    padding: 50px 0;
}
.contenedor_des {
    overflow: hidden;
    width: 96%;
    margin: auto;
}
.card {
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem .7rem;
    margin: 2rem 0;
    transition: all .5s ease;
}
.card .cont_img {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    background: #f3e5fa;
    position: relative;
    padding: .7rem 0;
}
.card .cont_img img {
    height: 100%;
    object-fit: cover;
    transition: all .5s ease;
}
.card .cont_img p {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    background: #9932CC;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    font-size: 1.1rem;
}
.card:hover img{
    transform: scale(1.05);
}
.card .detalles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding-top: .7rem;
}
.card .detalles .titulo {
    font-size: 2rem;
}
.card .detalles .color {
    margin: .7rem 0;
}
.card .detalles .color p{
    font-size: 1.3rem;
}
.card .detalles .color ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin: .4rem 0;
}
.card .detalles .color ul li {
    border: 1.5px solid #999;
    padding: .5rem .8rem;
    transition: all .5s ease;
    font-size: 1.1rem;
}
.card .detalles .color ul li:not(:first-child){
    margin: 0 .4rem;
}
.card .detalles .color ul li:hover {
    background: #9932CC;
    color: #fff;
}

.card .detalles .precio {
    margin-bottom: .7rem;
    display: flex;
    align-items: center;
}
.card .detalles .precio p{
    font-size: 1.2rem;
}
.card .detalles .precio p:nth-child(1) {
    margin-right: .4rem;
}
.card .detalles .precio p span {
    font-size: 1.5rem;
    margin-left: .2rem;
}
.card .detalles .precio .descc {
    font-size: 1.2rem;
}
.card .detalles .precio .descc {
    font-size: 1.3rem;
    text-decoration: line-through;
    margin-left: .2rem;
    color: gray;
}

.card .detalles .btnCom {
    margin: .8rem 0;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
}
.card .detalles .btnCom a {
    font-size: 1.3rem;
    background: #fff;
    color: #000;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: all .5s ease;
    border: 1px solid #9932CC;
    margin: .7rem 0;
}
.card .detalles .btnCom a:nth-child(1){
    margin-right: .5rem;
}

.card .detalles .btnCom a:hover {
    background: #9932CC;
    color: #fff;
}


.swiper-navButton {
    color: #9932CC !important;
    width: 40px !important;
    height: 40px !important;
}
.swiper-navButton::before,.swiper-navButton::after{
    font-size: 2rem !important;
}








.unete {
    max-width: 1800px;
    margin: auto;
    background-image: url(../img/julie-romaniuk-hoJduy0JSAo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    height: 80vh;
}
.contenedor_unete {
    background: rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%;
}
.second_conte {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    height: 100%;
}
.text_unete {
    width: 60%;
}
.titulo_unete {
    font-size: 8rem;
    color: #fff;
}
.descrip_unete {
    font-size: 1.7rem;
    color: #fff;
}







.marcas {
    max-width: 1800px;
    margin: auto;
    padding: 10rem 0;   
}
.contenedor_mar {
    width: 95%;
    margin: 0 auto;
}
.titulo_mar {
    font-size: var(--titulo);
    text-transform: var(--mayuscula);
    font-weight: bold;
    margin-bottom: 3.5rem;
    letter-spacing: -1px;
}
.container_swiper1 {
    width: 100%;
    margin: 0 auto;
}
.card_wrapper {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    width: 80%;
    margin: auto;
}
.card_mar {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem !important;
}
.container_swiper1 img {
    width: 90%;
    object-fit: cover;
}
.swiper-navButton-mar {
    color: #000 !important;
    width: 4rem !important;
    height: 4rem !important;
}
.swiper-navButton-mar::before,.swiper-navButton-mar::after{
    font-size: 3rem !important;
    font-weight: bold;
}





@media(max-width: 1023px) {
    .contenedor_cajas {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 200px);
        width: 100%;
    }
    .text_unete {
        width: 80%;
    }
    
}

@media(max-width: 768px) {
    .anuncio {
        z-index: 100000;
        position: relative;
    }

    .anun_corr {
        display: none;
    }
    #abajo {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(153, 50, 204, .4);
        z-index: -1;
        transition: all .3s ease;
        opacity: 0;
    }

    #nav {
        background: #9932CC;
        position: fixed;
        top: 40%;
        right: -100%;
        transition: all .5s ease;
        width: 40%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border: 2px solid #fff;
    }

    #nav .ul {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #nav .ul .li {
        margin: 7px 0;
    }

    #nav .ul .li .item {
        color: #fff;
        font-size: 1.3rem;
    }

    .respo {
        display: block;
    }

    .inicio {
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contenedor {
        width: 98%;
        height: auto;
    }

    .slide {
        flex-flow: column-reverse;
        width: 100%;
        justify-content: center;
        height: 100%;
    }

    .slide .text {
        width: 95%;
    }

    .slide img {
        width: 80%;
        margin-bottom: 40px;
    }

    .slide:nth-child(1) img {
        width: 60%;
    }

    .s2 {
        display: flex;
        flex-flow: column;
    }   
    .contenedor_cajas {
        width: 100%;
    }
    .contenedor_cajas {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 250px);
    }
    .contenedor_cajas .cajas .capa{
        width: 60%;
    }

    .text_unete {
        width: 100%;
    }
    .titulo_unete {
        font-size: 6rem;
        color: #fff;
    }
    .container_swiper1 img {
        width: 60%;
    }
}

@media(max-width: 450px) {
    .inicio {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
        height: auto;
    }
    .iconos {
        display: none;
    }
    .contenedor {
        height: auto;
    }
    .contenedor_cajas {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 250px);
    }
    .marquee {
        margin-bottom: 0;
        padding: 1rem 0;
    }
    .marquee .contenedor_mar img, marquee {
        display: none;
    }
    .contenedor_des {
        width: 90%;
    }
    .card .cont_img p {
        width: 6.5rem;
        height: 6.5rem;
        font-size: 1.3rem;
    }
    .unete {
        height: auto;
    }
    .second_conte {
        padding: 8rem 0;
    }

    .card_pro {
        flex-direction: column;
    }
    .card_pro .cont_img {
        width: 100%;
    }
    .card_pro .detalles {
        width: 100%;
    }
}